.barranav {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0.8rem;
  padding-right: 1rem;
}
.nav_options {
  display: inline-block;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
