@import "../../scss/colors";
@import "../../scss/mixins";

.titulo {
  div {
    padding-top: 3vh;
    background-color: $blanco !important;
    color: $negro !important;
  }
}

.sector_podios {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.5rem 0;
  .podio {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem 3rem;
    h4 {
      margin-bottom: 0.8rem;
    }
    .equipo {
      display: flex;
      justify-content: space-between;
      h5 {
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }
}

@media (max-width: 768px) {
  .transmisiones {
    text-align: center;
    padding: 1rem 0;
    iframe {
      display: none;
    }
    .links {
      display: inline-flex;
      width: 100%;
      overflow-x: hidden;
      a {
        display: block;
        flex-shrink: 0;
        margin: .3rem 1rem;
        font-size: .5em !important;
        img{
          width: 4rem;
        }
      }
    }
  }
  .sector_partidos {
    padding: 1rem 2rem;
    h3 {
      text-align: center;
    }
    .div_partidos {
      @include scroller ;
      margin: 0.5rem 0 1rem 0;
      div {
        flex-shrink: 0;
        img {
          max-width: 4rem;
        }
      }
    }
  }
}

.subtitulo_azul {
  color: $azul_fondo;
}
