@use "colors.scss";
.titulo div {
  padding-top: 3vh;
  background-color: #fafafafa !important;
  color: #121212 !important;
}

.sector_podios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0.5rem 0;
}

.sector_podios .podio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 1rem 3rem;
}

.sector_podios .podio h4 {
  margin-bottom: 0.8rem;
}

.sector_podios .podio .equipo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sector_podios .podio .equipo h5 {
  font-size: 1rem;
  font-weight: 400;
}

@media (max-width: 768px) {
  .transmisiones {
    text-align: center;
    padding: 1rem 0;
  }
  .transmisiones iframe {
    display: none;
  }
  .transmisiones .links {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    overflow-x: hidden;
  }
  .transmisiones .links .btn_prev,
  .transmisiones .links .btn_next {
    height: 2em;
    font-size: 0.75em;
    line-height: 2em;
    margin: -1em;
    position: absolute;
    width: 2em;
  }
  .transmisiones .links .btn_prev {
    background-image: url("data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27><g transform-origin=%27center center%27 transform=%27rotate(90), scale(0.7)%27 ><path fill=%27none%27 stroke=%27%23888888%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M2 5l6 6 6-6%27/></g></svg>");
    left: 10%;
  }
  .transmisiones .links .btn_next {
    background-image: url("data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27><g transform-origin=%27center center%27 transform=%27rotate(270), scale(0.7)%27 ><path fill=%27none%27 stroke=%27%23888888%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M2 5l6 6 6-6%27/></g></svg>");
    right: 10%;
  }
  .transmisiones .links a {
    position: absolute;
    display: block;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    font-size: 0.5em !important;
  }
  .transmisiones .links a img {
    width: 4rem;
  }
  .transmisiones .links #link1 {
    left: 0%;
    width: 100%;
  }
  .transmisiones .links #link2 {
    left: 100%;
    width: 100%;
  }
  .transmisiones .links #link3 {
    left: 200%;
    width: 100%;
  }
  .transmisiones .links #link4 {
    left: 300%;
    width: 100%;
  }
  .transmisiones .links #link5 {
    left: 400%;
    width: 100%;
  }
  .transmisiones .links #link6 {
    left: 500%;
    width: 100%;
  }
  .transmisiones .links #link7 {
    left: 600%;
    width: 100%;
  }
  .sector_partidos {
    padding: 5rem 2rem 1rem;
  }
  .sector_partidos h3 {
    text-align: center;
  }
  .sector_partidos .div_partidos {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
    overflow-x: scroll;
    margin: 0.5rem 0 1rem 0;
  }
  .sector_partidos .div_partidos div {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .sector_partidos .div_partidos div {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .sector_partidos .div_partidos div img {
    max-width: 4rem;
  }
}

.subtitulo_azul {
  color: #30475E;
}
/*# sourceMappingURL=Nacional.module.css.map */