.sector_nacionales {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  padding-inline: 5vw;
  padding-block: 3vw;
  justify-content: center;
}

.btn_nacional {
  min-width: 20vw;
  min-height: 8vh;
  padding: 1vw;
  margin: 3vw;
  background-color: orange;
  color: whitesmoke;
  border: none;
  border-radius: 1em;
}

.div_partidos {
  max-width: 30rem;
}
.div_partidos img {
  max-width: 8rem;
}

@media (max-width: 600px) {
  .btn_nacional {
    min-width: 50vw;
    min-height: 8vh;
  }
}
