@import "../../scss/colors";
@import "../../scss/mixins";

.blob {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 7rem;
  background-color: $azul_fondo;
  border-radius: 0% 0% 100% 0% / 10% 10% 45% 48%;
}

.dropdown {
  button {
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
    color: $blanco;
  }
}

form {
  width: 30vw;
  input {
    width: 90% !important;
  }
}

.sector_nacionales {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0rem 3rem 1rem;
  a {
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    width: 40%;
    div {
      display: flex;
      align-items: end;
      width: 100%;
      height: 10rem;
      background-color: $oro;
      border: none;
      border-radius: 0.1rem;
      color: $blanco;
      font-weight: 500;
      padding: 1rem;
    }
    div:focus {
      background-color: darken($oro, 5%);
      box-shadow: 0 0 0 0.25rem rgba(105, 86, 0, 0.322);
    }
  }
}

@media (max-width: 768px) {
  form {
    width: 55vw;
  }
  .sector_nacionales {
    display: flex;
    flex-direction: column-reverse;
    a {
      width: 100%;
      button {
        height: 10rem;
      }
    }
  }
}
