@import "../../scss/colors";
@import "../../scss/mixins";

@import url(https://weloveiconfonts.com/api/?family=fontawesome);

*[class*="fontawesome_"]:before {
  font-family: "FontAwesome", sans-serif;
}

body {
  background: #f9f9f9;
  color: #0e171c;
  display: grid;
  font: 300 100%/1.5em "Lato", sans-serif;
  margin: 0;
  min-height: 100vh;
  place-items: center;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 2em;
  line-height: 1.25em;
  margin: 0.25em 0;
}

h3 {
  font-size: 1.5em;
  line-height: 1em;
  margin: 0.33em 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 510px;
}

.calendar {
  text-align: center;
}

.calendar header {
  position: relative;
}

.calendar h2 {
  text-transform: uppercase;
}

.calendar thead {
  font-weight: 600;
  text-transform: uppercase;
}

.calendar tbody {
  color: #7c8a95;
}

.calendar tbody td:hover {
  border: 2px solid #00addf;
}

.calendar td {
  border: 2px solid transparent;
  border-radius: 50%;
  display: inline-block;
  height: 4em;
  line-height: 4em;
  text-align: center;
  width: 4em;
}

.calendar .prev-month,
.calendar .next-month {
  color: #cbd1d2;
}

.calendar .prev-month:hover,
.calendar .next-month:hover {
  border: 2px solid #cbd1d2;
}

.current_day {
  background: #00addf;
  color: #f9f9f9;
}

.event {
  cursor: pointer;
  position: relative;
}

.event:after {
  background: #00addf;
  border-radius: 50%;
  bottom: 0.5em;
  display: block;
  content: "";
  height: 0.5em;
  left: 50%;
  margin: -0.25em 0 0 -0.25em;
  position: absolute;
  width: 0.5em;
}

.event.current_day:after {
  background: #f9f9f9;
}

.btn_prev,
.btn_next {
  border: 2px solid #cbd1d2;
  border-radius: 50%;
  color: #cbd1d2;
  height: 2em;
  font-size: 0.75em;
  line-height: 2em;
  margin: -1em;
  position: absolute;
  top: 50%;
  width: 2em;
}

.btn_prev:hover,
.btn_next:hover {
  background: #cbd1d2;
  color: #f9f9f9;
}

.btn_prev {
  left: 6em;
}

.btn_next {
  right: 6em;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    width: 50vw;
  }
  table {
    max-width: 90vw;
    td {
      max-width: 3em;
    }
  }
}
