@import url(https://weloveiconfonts.com/api/?family=fontawesome);
@use "colors.scss";
*[class*="fontawesome_"]:before {
  font-family: "FontAwesome", sans-serif;
}

body {
  background: #f9f9f9;
  color: #0e171c;
  display: -ms-grid;
  display: grid;
  font: 300 100%/1.5em "Lato", sans-serif;
  margin: 0;
  min-height: 100vh;
  place-items: center;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 2em;
  line-height: 1.25em;
  margin: 0.25em 0;
}

h3 {
  font-size: 1.5em;
  line-height: 1em;
  margin: 0.33em 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: auto;
}

.calendar {
  text-align: center;
}

.calendar header {
  position: relative;
}

.calendar h2 {
  text-transform: uppercase;
}

.calendar thead {
  font-weight: 600;
  text-transform: uppercase;
}

.calendar tbody {
  color: #7c8a95;
}

.calendar tbody td:hover {
  border: 2px solid #30475E;
}

.calendar td {
  border: 2px solid transparent;
  border-radius: 50%;
  display: inline-block;
  height: 4em;
  line-height: 4em;
  text-align: center;
  width: 4em;
}

.calendar .prev-month,
.calendar .next-month {
  color: #cbd1d2;
}

.calendar .prev-month:hover,
.calendar .next-month:hover {
  border: 2px solid #cbd1d2;
}

.current_day {
  background: #00addf;
  color: #30475E;
  font-weight: 750;
}

.event {
  cursor: pointer;
  position: relative;
}

.event:after {
  background: #30475ed9;
  border-radius: 50%;
  bottom: 0.5em;
  display: block;
  content: "";
  height: 0.5em;
  left: 50%;
  margin: -0.25em 0 0 -0.25em;
  position: absolute;
  width: 0.5em;
}

.event.current_day:after {
  background: #30475ed9;
}

.btn_prev,
.btn_next {
  height: 2em;
  font-size: 0.75em;
  line-height: 2em;
  margin: -1em;
  position: absolute;
  top: 50%;
  width: 2em;
}

.btn_prev {
  background-image: url("data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27><g transform-origin=%27center center%27 transform=%27rotate(90), scale(0.7)%27 ><path fill=%27none%27 stroke=%27%23888888%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M2 5l6 6 6-6%27/></g></svg>");
}

.btn_next {
  background-image: url("data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27><g transform-origin=%27center center%27 transform=%27rotate(270), scale(0.7)%27 ><path fill=%27none%27 stroke=%27%23888888%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M2 5l6 6 6-6%27/></g></svg>");
}

.btn_prev:hover,
.btn_next:hover {
  background: #cbd1d2;
  color: #f9f9f9;
}

.btn_prev {
  left: 6em;
}

.btn_next {
  right: 6em;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }
  .calendar {
    background-color: #fff;
    border-radius: 1rem;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header h2 {
    color: #30475E;
    font-size: 1em;
  }
}

table {
  max-width: 80vw;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

table thead {
  background-color: #30475E;
  color: #fafafafa;
}

table tr {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

table td {
  width: 2.5em !important;
  height: auto !important;
  line-height: 1em !important;
}

table .event:after {
  bottom: -0.2em;
}
/*# sourceMappingURL=Calendario.module.css.map */