@import "../../scss/colors";
@import "../../scss/mixins";

.blob{
    @include blob(28vh);
}

.descripcion {
    color: $blanco;
    padding: 0 8vw 6vh;
    max-width: 50rem;
    h6 {
      font-weight: 500;
      font-size: 0.85em;
    }
  }
  
  .div_clubes {
    justify-content: center;
    padding: 1rem 3rem;
    div{
      margin: 0.7rem;
    }
  }

@media(max-width: 768px){
    .div_clubes{
      display: flex;
      flex-wrap: wrap;
      background-color: transparent;
      justify-content: space-between;
      img{
          max-width: 20vw;
          height: auto !important;
      }
      div{
        div{
          margin: 1rem 0.5rem !important;
          a{
            div{
              display: none;
            }
          }
        }
      }
    }
}