@import '../../scss/colors';
@import '../../scss/mixins';

.blob{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 13rem;
    background-color: $azul_fondo;
    border-radius: 0% 0% 100% 0% / 10% 10% 45% 48%;
}
.headers{
    padding: 3rem 1rem;
    h1{
        @include titulo-mobile;
    }
    h5{
        background-color: $azul-fondo;
        color: $blanco;
        font-weight: 500;
        font-size:  15px;
        line-height: 18px;
    }
}
@media (max-width: 768px){
    .sector_articulos{
        display: flex;
        flex-direction: column;
        }
    .principal{
        display: none;
    }
    .articulos{
        display: inline-flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        padding-left: 3rem;
    }
}