@import "../../scss/colors";
@import "../../scss/mixins";

.cont_titulo {
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 5vh 0;
  color: $blanco;
  background-color: $azul_fondo;
  justify-content: center;
  text-align: center;

  .titulo {
    font-size: 2em;
    font-weight: 700;
    justify-content: center;
    text-align: center;
  }
}
