@import "../../scss/colors";
@import "../../scss/mixins";

.blob{
    @include blob(26vh);
}

.logo{
    max-width: 10vw;
    margin-bottom: 1rem;
}
        

.tabla {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: space-evenly;
    width: 100%;
    max-width: 100%;
    overflow: scroll;
    border: none !important;
    border-radius: 0.5rem;
    box-shadow: -0.1rem -0.1rem 0.3rem 0.3rem rgba(46, 46, 46, 0.103);
    background-color: $blanco;
    color: $negro;
    * {
      border-width: 0 !important;
    }
    thead {
      display: table;
      background-color: $azul_fondo;
      color: $blanco;
      th {
        width: 3.1rem;
        text-align: center;
      }
    }
    tbody {
      tr {
        width: auto;
        td {
          padding: 0.8rem 0.5rem;
          width: 3.1rem !important;
          text-align: center;
        }
      }
    }
  }

.cont_partidos{
width: 100%;
display: flex;
flex-direction: column;
padding-top: 1rem;
align-items: center;
justify-content: space-evenly;
div{
    max-width: 80vw;
    h4{
    padding: 0;
    color: currentColor;
    }
    img{
    max-width: 4rem;
    }
}
}