@use "colors.scss";
.div_titulo {
  padding: calc(0.5vh + 0.5vw) calc(2vh + 2vw);
}

.div_titulo h2 {
  font-weight: bold;
}

.info {
  padding: calc(0.5vh + 0.5vw) calc(2vh + 2vw);
}

.info a {
  background-color: #30475E;
  color: #fafafafa;
  border-radius: 0.2rem;
  border: none;
  padding: 0.3rem 0.5rem;
  margin-right: 0.6rem;
  font-style: bold;
}

.info .static {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: calc(1.5vh + 1.5vw) 0;
}

.info .static div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.info .static div h5 {
  margin-right: 1rem;
  font-size: 1em;
}

.resultado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2rem 10rem;
}

.resultado img {
  max-width: 5rem;
}

.resultado .detalles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  text-align: center;
}

.resultado .detalles div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.tabla,
.planilla {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 1rem 0;
}

.tabla table,
.planilla table {
  width: 100%;
  max-width: 65vw;
}

.tabla tr,
.planilla tr {
  border: 0.5px solid #E5E5E5;
}

.tabla td,
.planilla td {
  padding: 0.7rem 0.5rem;
  width: auto !important;
}

.planilla {
  padding: 1rem 1rem;
}

.planilla table {
  max-width: 100%;
}

.planilla thead {
  background-color: #E5E5E5;
  color: #121212;
}

.planilla thead td {
  text-align: center;
}

.planilla tbody {
  position: relative;
  font-size: 0.7em;
  border: 0.5px solid #E5E5E5;
}

.planilla tbody tr {
  border: none;
}

.planilla tbody td {
  padding: 0.4rem 0.25rem;
}

.planilla img {
  margin: 1rem;
}

.planilla tbody ::after {
  content: "";
  position: absolute;
  top: 0;
  left: 51%;
  width: 0.1;
  height: 100%;
  background: #E5E5E5;
}

@media (max-width: 768px) {
  .tabla table {
    max-width: 80vw;
  }
  .static {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .resultado {
    padding: 1rem 2rem;
  }
}
/*# sourceMappingURL=PagPartido.module.css.map */