@use "colors.scss";
.main {
  width: 100%;
}

.nav {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 1rem 3rem;
}

.btn_seccion {
  border: none;
  text-decoration: underline;
  color: #5353ff;
}

.div_secciones * {
  margin-right: 0.5rem;
}

.div_salir {
  margin-left: auto;
}

.seccion {
  padding: 1rem 5rem;
}

.seccion_datos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.columna_datos {
  display: block;
  padding: 0 1rem;
}

/* PERFIL */
.padding {
  padding: 3rem !important;
}

.user_card_full {
  overflow: hidden;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-bottom: 30px;
}

.m_r_0 {
  margin-right: 0px;
}

.m_l_0 {
  margin-left: 0px;
}

.user_card_full .user_profile {
  border-radius: 5px 0 0 5px;
}

.user_profile {
  padding: 20px 0;
}

.card_block {
  padding: 1.25rem;
}

.m_b_25 {
  margin-bottom: 25px;
}

.img_radius {
  border-radius: 5px;
}

h6 {
  font-size: 14px;
}

.card .card-block p {
  line-height: 25px;
}

@media only screen and (min-width: 1400px) {
  p {
    font-size: 14px;
  }
}

.card-block {
  padding: 1.25rem;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
  margin-bottom: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.card .card-block p {
  line-height: 25px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.text-muted {
  color: #919aa3 !important;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
  font-weight: 600;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-40 {
  margin-top: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-40 {
  margin-top: 20px;
}

.user-card-full .social-link li {
  display: inline-block;
}

.user-card-full .social-link li a {
  font-size: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .div_salir {
    position: absolute;
    right: 2rem;
    top: 10.5rem;
  }
  .div_salir * {
    border-radius: 0.7rem;
  }
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main .nav {
    padding: 0 1rem;
    background-color: #30475E;
    color: #fafafafa;
  }
  .main .nav .div_secciones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main .nav .div_secciones .btn_seccion {
    background-color: #30475E;
    color: #fafafafa;
    padding: 1rem 0;
    text-decoration: none;
    text-align: start;
  }
  .main .seccion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 2rem 0;
  }
  .main .card {
    width: 60vw;
  }
}
/*# sourceMappingURL=Sistema.module.css.map */