<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jugadores</title>
</head>
<body>
    <div>
        <h4>Añadir nuevo pase</h4>
        <form action="" method="post">
            <label for="">jugador</label>
            <input name="jugador" type="text">
            <label for="">fecha</label>
            <input name="fecha" type="datetime">
            <label for="">club de salida</label>
            <input name="clubsalida" type="date">
            <label for="">club de llegada</label>
            <input name="clubllegada" type="text">
            <input type="submit">
        </form>
    </div>
</body>
</html>